/* Variables */
$gradient-colors: linear-gradient(90deg, #a658f2 0%, #00e087 100%);
$primary-color: #a658f2;
$secondary-color: #00e087;
$background-color: #071c26;
$text-color: white;
$button-hover-color: #7d3bdb;
$border-color: rgba(204, 204, 204, 0.14);
$code-bg-color: #ede7f6;
$code-text-color: #071c26;
