/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

/* Stye for AR Model Viewer for WooCommerce - Settings Page*/

/* Create two equal columns that floats next to each other */
.ar-model-viewer-for-woocommerce-card {
	background-color: white;
	padding: 14px;
	border: 1px solid #e9e9e9;
	box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
}

.ar-model-viewer-for-woocommerce-cards {
	margin: 0 auto;
	display: grid;
	/* If you need gap grid-gap: 1%;*/
}

/* Screen larger than 600px? 2 column */
@media (min-width: 600px) {
	.ar-model-viewer-for-woocommerce-cards {
		grid-template-columns: repeat(2, 1fr);
	}
}

/* Screen larger than 900px? 3 columns */
@media (min-width: 900px) {
	.ar-model-viewer-for-woocommerce-cards {
		grid-template-columns: repeat(2, 1fr);
	}
}

/* Style to CMB2 Radio in Line field to change for Switch Style*/

/* Start Switch field */
.switch-field .cmb2-radio-list li {
	padding-right: 0 !important;
	margin: 0;
}

.switch-field .cmb2-radio-list input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.switch-field .cmb2-radio-list label {
	float: left;
}

.switch-field .cmb2-radio-list label {
	margin: 0 -.25rem;
	background-color: #e4e4e4;
	padding: .25rem .75rem;
	border: 1px solid rgba(0, 0, 0, 0.2);
	-webkit-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}

.switch-field .cmb2-radio-list input:checked+label {
	color: #fff;
	background-color: #0073aa;
}

.switch-field .cmb2-radio-list li:first-of-type label {
	border-radius: .25rem 0 0 .25rem;
}

.switch-field .cmb2-radio-list li:last-of-type label {
	border-radius: 0 .25rem .25rem 0;
}
/* End Switch field */

/* change the vertical alignamente of the dash icons*/
span.dashicons.dashicons-media-document{
	vertical-align: middle;
}
span.dashicons.dashicons-coffee{
	vertical-align: middle;
}
span.dashicons.dashicons-star-filled{
	vertical-align: middle;
}
span.dashicons.dashicons-admin-generic {
    vertical-align: middle;
}

